<br>
<div class="grid-container">
  <div class="grid-block">
    <div class="grid-content medium-4 float-right">
      <div class="card dark">
        <img src="assets/img/micah.jpg" alt="Photo of Micah sitting on a restaurant patio in Stamford, CT on a warm summer day." animation-in="slideInRight" animation-out="">
        <div class="card-section">
          <h3 class="center">Interests</h3>
          <p>Full stack web development, web design, Linux, JavaScript, cycling, wake surfing,
            snowboarding, music, poker, tech divices</p>
        </div>
      </div>
    </div>
    <div class="grid-content medium-8">
      <div class="card dark">
        <div class="card-divider center">
          <h1>About Me</h1>
        </div>
        <div class="card-section">
          <p>Three years ago I made a decision to turn my life long interest and fascination in technology into a career. At that time I was working as an Assistant Manager at The Trailhead Restaurant in Estes Park, CO. I decided that to achieve my new found goals as efficiently as possible I should go back to school full time.</p>

          <p>I attended Chattahoochee Technical College majoring in Computer Information Systems Technology. I enjoyed my classes and I learned a lot while earning my degree and in the process I found my biggest passion in technology is in programming and development.</p>

          <p>After I graduated I decided to continue my education to gain all the skills I would need to become a Web Developer. After many hours of researching schools and programs all across the country I came to the conclusion that Epicodus located in Portland, OR was the best place for me. I felt that a program like Epicodus would prepare me for all of the technical and non technical skills I wanted to improve on such as working on team projects and pair programming.</p>

          <p>It turned out to be a great decision because I learned so many new things during my time at Epicodus. I’m also very happy living in Portland and in January of 2016 I started my technology career as a Software QA Analyst at <a href="http://www.plusqa.com" target="_blank" class="links">Plus QA</a>.</p>
        </div>
      </div>
      <div class="grid-block small-up-8 social-div">
        <div id="first" class="grid-content social-icon">
          <a href="http://www.github.com/micahcourey" target="_blank"><img class="social square linear spin-cw" src="assets/img/githubp.png" alt="image link to Micah's Github profile"></a>
        </div>
        <div class="grid-content social-icon next">
          <a href="http://www.linkedin.com/in/micahcourey" target="_blank"><img class="social square linear spin-cw" src="assets/img/linkedinp.png" alt="image link to Micah's linkedin profile"></a>
        </div>
        <div class="grid-content social-icon next">
          <a href="http://www.twitter.com/micahcourey" target="_blank"><img class="social square linear spin-cw" src="assets/img/twitterp.png" alt="image link to Micah's twitter profile"></a>
        </div>
        <div class="grid-content social-icon next">
          <a href="http://www.soundcloud.com/micahcourey" target="_blank"><img class="social square linear spin-cw" src="assets/img/soundcloudp.png" alt="image link to Micah's soundcloud profile"></a>
        </div>
      </div>
    </div>
  </div>
</div>
