
<div class="grid-container">
  <div class="grid-block">
    <div class="grid-content">
      <br>
      <div class="card dark">
        <div class="card-divider center">
            <h1>Contact Micah</h1>
        </div>
        <div class="card-section center">
          <h4>Please feel free to contact me with any questions, comments or interest in
          working with me.</h4><br>
          <h4>You can email me at: <a href="mailto:youremailaddress" class="links">micahjcourey@gmail.com</a></h4><br>
          <h4>Click the links below to check out my Github, Linkedin, Twitter and Soundcloud.</h4>
         </div>
      </div>

      <div class="grid-block small-up-12 social-div">
        <div id="first-contact" class="grid-content social-icon">
          <a href="http://www.github.com/micahcourey" target="_blank"><img class="social square linear spin-ccw" src="assets/img/githubp.png" alt="image link to Micah's Github profile"></a>
        </div>
        <div class="grid-content social-icon next-contact">
          <a href="http://www.linkedin.com/in/micahcourey" target="_blank"><img class="social square linear spin-ccw" src="assets/img/linkedinp.png" alt="image link to Micah's linkedin profile"></a>
        </div>
        <div class="grid-content social-icon next-contact">
          <a href="http://www.twitter.com/micahcourey" target="_blank"><img class="social square linear spin-ccw" src="assets/img/twitterp.png" alt="image link to Micah's twitter profile"></a>
        </div>
        <div class="grid-content social-icon next-contact">
          <a href="http://www.soundcloud.com/micahcourey" target="_blank"><img class="social square linear spin-ccw" src="assets/img/soundcloudp.png" alt="image link to Micah's soundcloud profile"></a>
        </div>
      </div>

    </div>
  </div>
</div>
