
<div class="grid-block main-photo align-center">

</div>

<div class="grid-container">
  <div class="grid-block">
    <div class="grid-content large-6">
      <div class="card dark">
        <div class="card-divider">
          <h3 class="center">Welcome To My Website</h3>
        </div>
        <div class="card-section">
          <p>Hi I'm Micah thanks for stopping by! Please feel free to
            look around and check out my web development portfolio. I hope you enjoy your visit
          and the rest of your day.</p>
        </div>
      </div>
    </div>
    <div class="grid-content large-6">
      <div class="card dark">
        <div class="card-divider">
          <h3 class="center">Check Out My New Home City</h3>
        </div>
        <div class="card-section">
          <p>I took the above photo while I was on a bike ride in my new home city of Portland OR.
          I moved to Portland in July of 2015 from across the country to pursue a career
           in Web Development.</p>
         </div>
      </div>
    </div>
  </div>
</div>

  <!-- Portfolio -->
  <div ui-view autoscroll="slow"></div>
