
<br>
<div class="grid-container">

  <div class="grid-block center">
    <div class="grid-content">
      <div class="card dark">
        <div class="card-divider">
          <h1>Portfolio</h1>
          <h4>click on any of the photos to check out a live demo</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-block">

    <div class="grid-content medium-6">
      <div class="card dark">
        <a href="http://twaddler.azurewebsites.net" target="_blank">
        <img src="assets/img/twaddler.png" alt="photo of twaddler website"></a>
        <div class="card-divider">
          <h6 class="float-right date">November 28th, 2015</h6>
          <h4>Twaddler</h4>
        </div>
        <div class="card-section">
          <p>A online social networking app that allows users to send messages known as 'twaddles' to one another. I built it using AngularJS, Node.js, Express, MongoDB, HTML and CSS. Signup and post a twaddle! <a href="http://twaddler.azurewebsites.net" target="_blank" class="links">Live Demo</a> or check out the code in the project's <a href="https://github.com/micahcourey/Twaddler" target="_blank" class="links">Github Repository</a>.</p>
        </div>
      </div>
    </div>

    <div class="grid-content medium-6">
      <div class="card dark">
        <a href="http://micahcourey.github.io/BikePDXWebsite" target="_blank">
        <img src="assets/img/bikepdx.png" alt="photo of BikePDX website"></a>
        <div class="card-divider">
          <h6 class="float-right date">October 24th, 2015</h6>
          <h4>BikePDX</h4>
        </div>
        <div class="card-section">
          <p>A front-end website prototype with a map, information, photos and reviews on road bike and mountain bike routes in the Portland, OR area. I built it using AngularJS, JavaScript, HTML, CSS and Sass. Check out the <a href="http://micahcourey.github.io/BikePDXWebsite" target="_blank" class="links">Live Demo</a> or check out the code in the project's <a href="http://github.com/micahcourey/BikePDXWebsite" target="_blank" class="links">Github Repository</a>.</p>
        </div>
      </div>
    </div>

    <div class="grid-content medium-6">
      <div class="card dark">
        <a href="http://micahcourey.github.io/MovieReviewSite" target="_blank">
        <img src="assets/img/movie_talk.png" alt="photo of Movie Talk website"></a>
        <div class="card-divider">
          <h6 class="float-right date">October 2nd, 2015</h6>
          <h4>Movie Talk</h4>
        </div>
        <div class="card-section">
          <p>A website I built in AngularJS that allows users to write movie reviews. The site includes a dark theme for nighttime viewing which can be enabled by the flip of a switch. Check out the <a href="http://micahcourey.github.io/MovieReviewSite" target="_blank" class="links">Live Demo</a> or check out the code in the project's <a href="http://github.com/micahcourey/MovieReviewSite" target="_blank" class="links">Github Repository</a>.</p>
        </div>
      </div>
    </div>

    <div class="grid-content medium-6">
      <div class="card dark">
        <a href="http://micahcourey.github.io/AttendanceBot" target="_blank">
        <img src="assets/img/attendance_bot.png" alt="photo of Attendance Bot website"></a>
        <div class="card-divider">
          <h6 class="float-right date">September 25th, 2015</h6>
          <h4>Attendance Bot</h4>
        </div>
        <div class="card-section">
          <p>An app that allows students to sign in and out of classes and allows teachers to view the attendance and add new students. Check out the <a href="http://micahcourey.github.io/AttendanceBot" target="_blank" class="links">Live Demo</a> or check out the code in the project's <a href="http://github.com/micahcourey/AttendanceBot" target="_blank" class="links">Github Repository</a>.</p>
        </div>
      </div>
    </div>

    <div class="grid-content medium-6">
      <div class="card dark">
        <a href="http://micahcourey.github.io/PizzaPicker" target="_blank">
        <img src="assets/img/pizza_picker.png" alt="photo of Pizza Picker website"></a>
        <div class="card-divider">
          <h6 class="float-right date">September 18th, 2015</h6>
          <h4>Pizza Picker</h4>
        </div>
        <div class="card-section">
          <p>A web app that generates the cost of a customer's pizza order based on the pizza size, topping selections and pizza quantity. Check out the <a href="http://micahcourey.github.io/PizzaPicker" target="_blank" class="links">Live Demo</a> or check out the code in the project's <a href="http://github.com/micahcourey/PizzaPicker" target="_blank" class="links">Github Repository</a>.</p>
        </div>
      </div>
    </div>

    <div class="grid-content medium-6">
      <div class="card dark">
        <a href="http://micahcourey.github.io/Webflix" target="_blank">
        <img src="assets/img/webflix.png" alt="photo of Webflix website"></a>
        <div class="card-divider">
          <h6 class="float-right date">September 15th, 2015</h6>
          <h4>Webflix</h4>
        </div>
        <div class="card-section">
          <p>A web app which lets a user choose the movie they want to see, the time, and their age then the app generates their ticket price. Check out the <a href="http://micahcourey.github.io/Webflix" target="_blank" class="links">Live Demo</a> or check out the code in the project's <a href="http://github.com/micahcourey/Webflix" target="_blank" class="links">Github Repository</a>.</p>
        </div>
      </div>
    </div>

    <div class="grid-content medium-6">
      <div class="card dark">
        <a href="http://micahcourey.github.io/RomanNumeralGenerator" target="_blank">
        <img src="assets/img/roman_numeral.png" alt="photo of Roman Numeral Generator website"></a>
        <div class="card-divider">
          <h6 class="float-right date">September 13th, 2015</h6>
          <h4>Roman Numeral Generator</h4>
        </div>
        <div class="card-section">
          <p>A web app built in JavaScript that allows a user to enter a number and converts it to Roman Numeral form. Check out the <a href="http://micahcourey.github.io/RomanNumeralGenerator" target="_blank" class="links">Live Demo</a> or check out the code in the project's <a href="http://github.com/micahcourey/RomanNumeralGenerator" target="_blank" class="links">Github Repository</a>.</p>
        </div>
      </div>
    </div>

    <div class="grid-content medium-6">
      <div class="card dark">
        <a href="http://micahcourey.github.io/FindReplace" target="_blank">
        <img src="assets/img/find_replace.png" alt="photo of Find & Replace website"></a>
        <div class="card-divider">
          <h6 class="float-right date">September 11th, 2015</h6>
          <h4>Find & Replace</h4>
        </div>
        <div class="card-section">
          <p>A JavaScript web app that finds all instances of a word in a block of text and replaces all instances of the found word with a replacement. Check out the <a href="http://micahcourey.github.io/FindReplace" target="_blank" class="links">Live Demo</a> or check out the code in the project's <a href="http://github.com/micahcourey/FindReplace" target="_blank" class="links">Github Repository</a>.</p>
        </div>
      </div>
    </div>

    <div class="grid-content medium-6">
      <div class="card dark">
        <a href="http://micahcourey.github.io/gettinPiggyWitIt" target="_blank">
        <img src="assets/img/piggy.png" alt="photo of gittin' piggy wit it website"></a>
        <div class="card-divider">
          <h6 class="float-right date">September 10th, 2015</h6>
          <h4>gittin' piggy wit it</h4>
        </div>
        <div class="card-section">
          <p>A English to Pig Latin translator built in JavaScript. Enter a English word and it will be translated to Pig Latin. Check out the <a href="http://micahcourey.github.io/gettinPiggyWitIt" target="_blank" class="links">Live Demo</a> or check out the code in the project's <a href="http://github.com/micahcourey/gettinPiggyWitIt" target="_blank" class="links">Github Repository</a>.</p>
        </div>
      </div>
    </div>

    <div class="grid-content medium-6">
      <div class="card dark">
        <a href="http://micahcourey.github.io/TriangleTracker" target="_blank">
        <img src="assets/img/triangle_tracker.png" alt="photo of Triangle Tracker website"></a>
        <div class="card-divider">
          <h6 class="float-right date">September 8th, 2015</h6>
          <h4>Triangle Tracker</h4>
        </div>
        <div class="card-section">
          <p>A web app that allows a user to input the length of all 3 sides of a triangle and returns whether the triangle is a equilateral, isosceles or scalene. Check out the <a href="http://micahcourey.github.io/TriangleTracker" target="_blank" class="links">Live Demo</a> or check out the code in the project's <a href="http://github.com/micahcourey/TriangleTracker" target="_blank" class="links">Github Repository</a>.</p>
        </div>
      </div>
    </div>

    <div class="grid-content medium-6">
      <div class="card dark">
        <a href="http://micahcourey.github.io/PingPongJavaScript" target="_blank">
        <img src="assets/img/ping-pong.png" alt="photo of Number Ping-Pong website"></a>
        <div class="card-divider">
          <h6 class="float-right date">June 4th, 2015</h6>
          <h4>Number Ping-Pong</h4>
        </div>
        <div class="card-section">
          <p>This is the first web app I ever built! After only programming for a few weeks I built this app as a test to get accepted into Epicodus. Multiples of 3 print as Ping, 5 as Pong, multiples of 3 and 5 as Ping-Pong. Check out the <a href="http://micahcourey.github.io/PingPongJavaScript" target="_blank" class="links">Live Demo</a> or check out the code in the project's <a href="http://github.com/micahcourey/PingPongJavaScript" target="_blank" class="links">Github Repository</a>.</p>
        </div>
      </div>
    </div>

  </div>
</div>
